:root {
  --white: #fff;
  --white: 0 0% 100%;
  --black: #333;
  --black: 0 0% 20%;
  --blue: #4A5CEF;
  --blue: 244 83% 65%;
  --fluorescent: #E0FB60;
  --fluorescent: 72 94% 68%;
  --red: #FF0000;
  --red: 0 100% 50%;
  --gray: #A7AABC;
  --gray: 231 14% 70%;
  --gray-lighten: #F8F9FA;
  --gray-lighten: 210 14% 98%;
  
  --kakao: #FEE500;
  --naver: #06C755;

  --primary: var(--blue);
  --secondary: var(--fluorescent);
}
